# OS
.DS_Store
*~
*.zip

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
.buildpath
.project
.settings
*.userprefs
atlassian-ide-plugin.xml
.sass-cache/
Gemfile.lock

# Project
Huginn/bin/*
Huginn/obj/*
Huginn/packages/*
CouchManager/bin/*
CouchManager/obj/*
CouchManager/packages/*

# ruby
support/.bundle

